{% extends 'base.html' %}{% block author %}
<h1>you searched for: {{searched}}</h1>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
	{% for book in books %}
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<td>
				<div>
					{{ book.id }}.
					<a href="{{url_for('book.book_update',book_id=book.id)}}"> {{ book.title }}</a>
				</div>

				<div><strong>Author ID: {{ book.author_id}}</strong></div>
				<div><strong>author:</strong><br />{{ book.author | safe }}</div>
				<div><strong>condition:</strong> {{ book.condition }}</div>
				{% if current_user.id == 1 or current_user.id == book.author_id %}
				<div><strong>date added:</strong> {{ book.added_date }}</div>
				<div>
					<a href="{{url_for('books_all')}}" class="btn btn-secondary">Back</a>
					<a href="{{url_for('books_update',book_id=book_id)}}" class="btn btn-primary"
						>Update</a
					>
					<a href="{{url_for('books_delete', book_id=book_id)}}" class="btn btn-danger"
						>Delete</a
					>
				</div>
				{% endif %}
			</td>
		</tr>
	</table>
	{% endfor %}
</div>
{% endblock%}
