{% extends 'base.html' %}{% block content %}
<h1>Updating User Info:</h1>

<form method="POST">
	{{ form.hidden_tag() }}
	<div>
		{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}
	</div>
	<div>
		{{ form.username.label(class="form-label") }}{{ form.username(class="form-control") }}
	</div>
	<div>
		{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}
	</div>
	<br />
	<div>
		{{ form.submit(class="btn btn-primary") }}
		<a href="{{url_for('user.user_delete', user_id=user_id)}}" class="btn btn-danger"
			>Delete</a
		>
	</div>
</form>
{% endblock %}
